body {
  font-family: "Lato", sans-serif;
}
/* header secion*/
.header {
  padding: 10px 0;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
nav .list-item .active {
  color: var(--primary);
}
nav .list-item a {
  color: black;
  font-size: 16px;
}
nav .list-item {
  color: #0d0e43;
  text-transform: capitalize;
}
.search form {
  border: 1px solid #e7e6ef;
  border-radius: 5px;
}
.search form input {
  width: 250px;
  padding-left: 10px;
  border: none;
  outline: none;
}
.search form button {
  border: none;
  outline: none;
  padding: 8px 13px;
}

.header i {
  display: none;
}
/*from 0 to 1200 px*/
@media screen and (max-width: 1200px) {
  .list,
  .search {
    display: none;
  }
  .header i {
    display: block;
  }
}
/*hero section*/
.hero {
  position: relative;
  background-color: #f2f0ff;
  margin-top: 49px;
}

.hero .lamp {
  position: absolute;

  left: 170px;
}
.hero .lamp img {
  width: 90%;
  object-fit: contain;
}
.hero .row {
  justify-content: flex-end;
  gap: 130px;
}
.hero .hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  z-index: 1;
}

.hero .row .hero-info span {
  color: var(--primary);
  font-size: 16px;
}
.hero .row .hero-info h2 {
  font-family: "Josefin Sans", sans-serif;
}
.hero .row .hero-info p {
  color: #8a8fb9;
}
.hero .row .hero-info button {
  margin-top: 35px;
  width: 160px;
}
.hero .row .hero-img {
  width: 600px;
}
.hero .row .hero-img img {
  width: 100%;
  object-fit: contain;
}
.hero .swipper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .swipper img {
  margin-bottom: 53px;
}
/*hero end*/
/*footer section start */
.footer {
  padding: 60px;
  background-color: #eeeffb;
}

.footer .left-side {
  align-items: flex-start;
}

.footer .left-side img {
  margin-bottom: 35px;
}
.footer .left-side form {
  background-color: #fff;
  margin-bottom: 23px;
  border: none;
  outline: none;
}
.footer .left-side form input,
.footer .left-side form button {
  border: none;
  outline: none;
}
.footer .left-side form input {
  padding-left: 6px;
}
.footer .left-side form button {
  color: white;
}

.footer .left-side address,
.footer .left-side span {
  color: #8a8fb9;
}
.footer .right-side {
  width: calc(100% - 10px) / 2;
}
.right-side .row {
  gap: 40px;
}

.right-side .categories h2 {
  margin-bottom: 35px;
}
.right-side .categories nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 20px;
}
.right-side .categories nav a {
  color: #8a8fb9;
}

.right-side .customer h2 {
  margin-bottom: 35px;
}
.right-side .customer nav {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.right-side .customer nav a {
  color: #8a8fb9;
}

.right-side .Pages h2 {
  margin-bottom: 35px;
}
.right-side .Pages nav {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.right-side .Pages nav a {
  color: #8a8fb9;
}
