body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
}
/* header secion*/
.header {
  padding: 10px 0;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
nav .list-item .active {
  color: var(--primary);
}
nav .list-item a {
  color: black;
  font-size: 16px;
}
nav .list-item {
  color: #0d0e43;
  text-transform: capitalize;
}
.search form {
  border: 1px solid #e7e6ef;
  border-radius: 5px;
}
.search form input {
  width: 250px;
  padding-left: 10px;
  border: none;
  outline: none;
}
.search form button {
  border: none;
  outline: none;
  padding: 8px 13px;
}

.header i {
  display: none;
}
/*from 0 to 1200 px*/
@media screen and (max-width: 1200px) {
  .list,
  .search {
    display: none;
  }
  .header i {
    display: block;
  }
}
/*hero section*/
.hero {
  position: relative;
  background-color: #f2f0ff;
  margin-top: 49px;
}

.hero .lamp {
  position: absolute;
  left: 20px;
}
.hero .lamp img {
  width: 80%;
  object-fit: contain;
}
.hero .row {
  justify-content: flex-end;
  gap: 130px;
}
.hero .hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  z-index: 1;
}

.hero .row .hero-info span {
  color: var(--primary);
  font-size: 16px;
}
.hero .row .hero-info h2 {
  font-family: "Josefin Sans", sans-serif;
}
.hero .row .hero-info p {
  color: #8a8fb9;
}
.hero .row .hero-info button {
  margin-top: 35px;
  width: 160px;
}
.hero .row .hero-img {
  width: 600px;
}
.hero .row .hero-img img {
  width: 100%;
  object-fit: contain;
}
.hero .swipper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .swipper img {
  margin-bottom: 53px;
}
/*hero end*/

/*featured product start*/
.featured-product {
  margin-bottom: 100px;
}
.featured-product h2 {
  margin: 97px 0px 48px;
  color: #1a0b5b;
}
.product-item .row {
  justify-content: flex-start;
  gap: 5px;
}
.product-item {
  width: calc(100% - 20px) / 4;
  box-shadow: 0px 4px 4px #00000040;
  background-color: #ffffff;
}
.product-item:hover .item-details {
  background-color: #2f1ac4;
  cursor: pointer;
}
.icon {
  transition: all 0.8s;
  position: absolute;
  top: 18px;
  left: 16px;
  color: rgb(68, 159, 220);
  display: none;
  transition: all 0.6;
}
i {
  transition: all 0.8s;
}
i:hover {
  color: #1a0b5b;
}

.product-item .item-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  object-fit: contain;
  background-color: #f6f7fb;
  position: relative;
}
.item-img button {
  position: absolute;
  border-radius: 2px;
  bottom: 8px;
  display: none;
  transition: all 0.6;
}
.product-item:hover .icon {
  display: block;
}
.product-item:hover button {
  display: block;
}

.item-details {
  transition: all 0.9s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;

  justify-content: center;
  align-items: center;
}
.item-details h3 {
  color: var(--primary);
  padding: 15px 0px;
  font-size: 18px;
}

.color {
  gap: 5px;
}
.color1:hover {
  border: 1px solid black;
}
.color2:hover {
  border: 1px solid black;
}
.color3:hover {
  border: 1px solid black;
}
.color1,
.color2,
.color3 {
  border-radius: 10px;
  border: none;
  outline: none;
  width: 16px;
  height: 5px;
  background-color: #05e6b7;
}
.color2 {
  background-color: #f701a8;
}
.color3 {
  background-color: #00009d;
}
.item-details span {
  color: #1a0b5b;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}
.span2 {
  padding: 12px;
}
@media screen and (max-width: 992px) {
  .product-item .row {
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .product-item {
    width: calc(100% - 10px) / 4;

    background-color: #ffffff;
  }
}
@media screen and (max-width: 576px) {
  .product-item .row {
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .product-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
}
/*featured product end*/
/*leatest product start*/
.leatest-product {
  text-align: center;
}
.leatest-product h2,
.shopbox h2,
.shopbox h3 {
  color: #151875;
}
.leatest-product ul li {
  color: var(--fontcolor);
}
.leatest-product .row {
  justify-content: flex-start;
}
.product-card {
  flex-grow: 1;
  flex-basis: 300px;
  background-color: #eeeffb;
  transition: all 0.9s;
}
.card-pic {
  background-color: #f7f7f7;
  position: relative;
  height: 300px;
  transition: all 0.9s;
}
.pic-sale {
  position: absolute;
  top: 25px;
  left: 15px;
  transition: all 0.9s;
}
.pic-sale img {
  transition: all 0.9s;
}
.card-icon {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 15px;
  bottom: 38px;
  color: var(--fontcolor);
  display: none;
  transition: all 0.9s;
}
.product-card:hover .card-icon {
  display: flex;
}
.product-card:hover .pic-sale {
  display: flex;
}
.card-icon i {
  transition: all 0.6s;
}
.card-icon i:hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: lightgray;
}
.card-detail {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  color: var(--fontcolor);
}
.card-detail .old-price {
  text-decoration: line-through;
  color: red;
}
/*leatest product end*/
/* shopbox section start*/
.shopbox .row {
  gap: 30px;
}
.shopbox .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  flex-basis: 25px;
  flex-grow: 1;
  padding: 30px;
  background-color: #ffffff;
}
.card-details {
  color: #9fa3b0;
}

/* shopbox section end*/

/*newsletter section*/
.newsletter {
  background-image: url(./images/newsletter/Rectangle\ 102.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.newsletter .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 150px 0px;
}
.newsletter .row h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #151875;
  font-size: 35px;
}
.shop-btn {
  transition: all 0.6s;
}
.shop-btn:hover {
  background-color: #08d15f;
}

/* clients section start*/
.client {
  padding: 50px 0;
}
.client .row {
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}
.client .logo {
  width: calc(100% - 80px) / 6;
}
.client .logo img {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 900px) {
  .client .logo {
    width: calc(100% - 40px) / 3;
  }
}
/* clients section end */
/*footer section start */
.footer {
  padding: 60px;
  background-color: #eeeffb;
}

.footer .row {
  gap: 10px;
}
.footer .left-side {
  align-items: flex-start;
  width: calc(100% - 10px) / 2;
}

.footer .left-side img {
  margin-bottom: 35px;
}
.footer .left-side form {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 23px;
  border: none;
  outline: none;
}
.footer .left-side form input,
.footer .left-side form button {
  border: none;
  outline: none;
}
.footer .left-side form input {
  padding-left: 6px;
}
.footer .left-side form button {
  color: white;
}

.footer .left-side address,
.footer .left-side span {
  color: #8a8fb9;
}
.footer .right-side {
  width: calc(100% - 10px) / 2;
}
.right-side .row {
  gap: 40px;
  align-items: flex-start;
}
.right-side .categories,
.right-side .customer,
.right-side .Pages {
  width: calc(100% - 80) / 3;
}
.right-side .categories h2 {
  margin-bottom: 35px;
}
.right-side .categories nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 20px;
}
.right-side .categories nav a {
  color: #8a8fb9;
}

.right-side .customer h2 {
  margin-bottom: 35px;
}
.right-side .customer nav {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.right-side .customer nav a {
  color: #8a8fb9;
}

.right-side .Pages h2 {
  margin-bottom: 35px;
}
.right-side .Pages nav {
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.right-side .Pages nav a {
  color: #8a8fb9;
}
@media screen and (max-width: 992px) {
  .footer .left-side,
  .footer .right-side {
    width: 100%;
  }
  @media screen and (max-width: 576px) {
    .right-side .categories,
    .right-side .customer,
    .right-side .Pages {
      width: 100%;
      text-align: center;
    }
  }
  .footer .left-side form button {
    flex-grow: 1;
  }
}
